*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  overflow:hidden;
  height:100vh;
  background:
    radial-gradient(circle at bottom, #1b2735 0%, #090a0f 100%);
  font-family: 'Segoe UI', sans-serif;
}

canvas{
  position:absolute;
  inset:0;
}

.moon{
  position:absolute;
  top:80px;
  right:120px;

  width:120px;
  height:120px;

  border-radius:50%;

  background:
    radial-gradient(circle at 30% 30%,
    #fff,
    #d9d9d9 70%,
    #bdbdbd);

  box-shadow:
    0 0 30px #ffffff88,
    0 0 60px #ffffff55;
}

.instruction{
  position:absolute;
  width:100%;
  top:40px;
  text-align:center;

  color:white;
  letter-spacing:2px;
  font-size:1rem;

  opacity:.8;

  animation:float 3s ease-in-out infinite;
}

.special-star{
  position:absolute;

  top:40%;
  left:50%;

  width:8px;
  height:8px;

  background:white;
  border-radius:50%;

  cursor:pointer;

  box-shadow:
    0 0 10px white,
    0 0 20px white,
    0 0 40px #8be9fd;

  animation:
    pulse 1.5s infinite alternate,
    floating 4s ease-in-out infinite;
}

.special-star::before,
.special-star::after{
  content:"";
  position:absolute;
  background:white;
}

.special-star::before{
  width:2px;
  height:24px;
  left:3px;
  top:-8px;
}

.special-star::after{
  width:24px;
  height:2px;
  left:-8px;
  top:3px;
}

.message{
  position:absolute;

  left:50%;
  top:60%;

  transform:translate(-50%, -50%) scale(.8);

  color:white;

  font-size:2rem;
  text-align:center;

  opacity:0;

  transition:1.5s;

  text-shadow:
    0 0 10px white,
    0 0 20px #ff79c6,
    0 0 40px #8be9fd;
}

.message.show{
  opacity:1;
  transform:translate(-50%, -50%) scale(1);
}

.hidden{
  pointer-events:none;
}

@keyframes pulse{
  from{
    transform:scale(1);
    opacity:.7;
  }
  to{
    transform:scale(1.4);
    opacity:1;
  }
}

@keyframes floating{
  0%{ transform:translateY(0px);}
  50%{ transform:translateY(-10px);}
  100%{ transform:translateY(0px);}
}

@keyframes float{
  0%{ transform:translateY(0);}
  50%{ transform:translateY(-5px);}
  100%{ transform:translateY(0);}
}
